/otf-week-1/.terraform/
/qodana.yaml
/otf-week-2/.terraform/
/otf-week-2/.terraform.tfstate.lock.info
/otf-week-2/.terraform.lock.hcl
/otf-week-2/terraform.tfstate
/otf-week-2/terraform.tfstate.backup
/otf-week-1/.terraform.lock.hcl
/otf-week-1/terraform.tfstate.backup
/otf-week-1/terraform.tfstate
